html{
	scroll-behavior: smooth;
	min-height: 100%;
}

body{
	margin:0;
	padding:0;
	line-height: 24px;
	background-position: bottom;
	background-color: #E2E1E0;
}

form{
	padding: 20px;
	margin-top: 60px;
}

form button, form h5{
	margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #ec407a !important;
}

div nav.nav-wrapper.grey {
	background: #1FBCD3!important;
}
.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

div.project-list div.card{
	border-radius: 10px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin:15px 0;
}
.card .card-image img{
	border-radius: 10px 10px 0 0;
}
.card-content img{
	width: 100%;
	height: 34vh;
}
.card .card-image img{
	height: 200px;
}
.card .card-content{
	padding: 2% 4%;
}
.card .card-content .card-title{
	font-size: 1.3rem;
	font-weight: 700;
	line-height: 22px;
}
.project-details {
    padding: 1%;
}
@media (max-width:425px) and (min-width:319px){
	.card .card-image{
		padding: 0;
	}
}

ul li a {
	color: #fff;
}
div.card-image {
    padding: 0!important;
    margin: 0;
}
.card-btn {
	display: flex;
    justify-content: space-between;
}