html{
	min-height: 100%;
}

body{
	margin:0;
	padding:0;
	min-height: 100%;
	background: url(/assets/images/mario-bg.png) no-repeat;
	background-size: 100%;
	background-position: bottom;
	background-color: #E4E4E2;
}

form{
	padding: 20px;
	margin-top: 60px;
}

form button, form h5{
	margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #ec407a !important;
}

div nav.nav-wrapper.grey {
	background: #1FBCD3!important;
}
.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

div.project-list div.card{
	border-radius: 5px;
    box-shadow: 3px 3px 5px 6px #ccc!important;
}
.card-content img{
	width: 75%;
	height: 20vh;
}
.card .card-image img{
	height: 200px;
}
.project-list.section{
	padding: 2%;
}
.card .card-content{
	padding: 2% 4%;
}
.card .card-content .card-title{
	font-size: 1.3rem;
    font-weight: 700;
}
.project-details {
    padding: 1%;
}
@media (max-width:425px) and (min-width:319px){
	.card .card-image{
		padding: 0;
	}
}

ul li a {
	color: #fff;
}
div.card-image {
    padding: 0!important;
    margin: 0;
}